<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= title %></h1>
    <a href="/new">New Message</a>
    <div>
      <% if (messages.length > 0) { %>
        <% messages.forEach((message) => { %>
          <h2><%= message.user %></h2>
          <p><%= message.text %></p>
          <p><%= moment(message.added).format("MMMM Do YYYY, h:mm:ss a") %></p>
        <% }) %>
      <% } %>
    </div>
  </body>
</html>
